*,html{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:Helvetica;
    scroll-behavior: smooth;
 

}

nav ul {
    display:flex;
    padding: 15px;
    

}

header {
    background:#ffffff;
    border-bottom: 1px solid #5a5cd1;
    color:#ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2px;
   
    
    
    
    
    
}

.logo {
    margin-right: auto;
    display: flex;

}

.logo-img {
    gap: 20px;
    width: 150px;
    height: 150px;
    margin-left: 20px;
}

.logo-title {
    cursor: pointer;
    transition: all 0.5s ease 0s;
    color: #16188d;
    display: flex;
   
}

.logo:hover { 
    transform: rotate(4deg);
    color: #29bd24;
}

.btn-cta {
    margin-right: 30px;
    border: none;
    font-size: 15px;
    padding: 6px 5px;
    background: linear-gradient(45deg,#405de6,#5851db,#833ab4,#c13584,#e1306c,#fd1d1d);
    color:#eaeaea;
    border-radius: 8px;
    cursor: pointer;


}

li {
    list-style-type: none;
    padding: 10px;
    
}

li a:hover {
    color: #29bd24;
    }


a {
    color:#16188d;
    text-decoration: none;


}

.container {
    max-width: 1200px;
    margin:0 auto;
    padding: 70px 0;
}

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-align: center;
}

.title {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   // background: #16188d;
    color: #16188d;
    //padding: 20px;

}

.description-top {
    font-size: 20px;
    //font-weight: bolder;
    display: flex;
    color: #29bd24;
    text-align: center;
    

}

.description {
    font-size: 20px;
    //font-weight: bolder;
    display: flex;
    text-align: center;
    color: #29bd24;

}

.img-foto {
    width: 100%;
    height: auto;
    padding: 20px;
    max-width: 500px;
    
}


.parallax {
    background-image: url('asset/Logo NHKBP.png');
    background-attachment:fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size:contain;
    height: 70vh;
    padding: 15px;
    
}

.tentang {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #16188d;
    color: #eaeaea;
    padding: 10px;
    
}

.mt-10 {
    margin-top: 10px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:8px
  
}

.card-item {
    text-align: center;
    margin: 10px;
    width: 20%;
    background: #f7f7f7;
    color: #222;
    padding: 20px;
    box-shadow: box-shadow: 5px 5px 10px 2px rgba(13,13,13,0.62);
    -webkit-box-shadow: 5px 5px 10px 2px rgba(13,13,13,0.62);
    -moz-box-shadow: 5px 5px 10px 2px rgba(13,13,13,0.62);;

   

}

.card-title {
    font-size: 18px;
    font-weight: bolder;
}
.card-description {
    font-size: 14px;
    margin-top: 4px;
    

}

.icon {
    width: 75px;
    height: 75px;
    margin: 10px;
    padding: 4px;
}

footer {
    padding: 20px;
    text-align: center;
    background: #16188d;
    color: #eaeaea;
}

@media screen and (max-width:500px) {
    .card {
        flex-direction : column;
        gap: 0;
    }
    .card-item {
        width: 100%;
    }
    .container {
        width: 100%;
        padding: 0;
    }
    .intro {
        margin-top: 20px;
        

    .img-foto {
        padding: 0;
    }
    
    
}